<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="co.edu.udenar.citiesboard.design.Activator"
               id="co.edu.udenar.citiesboard.design"
	       name="citiesboard">
    </component>
  </extension>
  <extension point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
            commandId="co.edu.udenar.citiesboard.design.transformation"
            icon="icons/coding.png"
            id="org.eclipse.sirius.diagram.tabbar.transformation"
            label="Generate Dashboard Code"
            tooltip="Generate Dashboard Code">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="co.edu.udenar.citiesboard.design.transformation"
           name="transformation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="co.edu.udenar.citiesboard.design.transformation.handlers.TransformationHandler"
           commandId="co.edu.udenar.citiesboard.design.transformation">
     </handler>
  </extension>
</plugin>
